<% provide :title, t(".title") %>
<% provide :button_text, t(".btn_submit") %>
<div class="w3_login">
  <h3><%= t ".title" %></h3>
  <div class="w3_login_module">
    <div class="module form-module">
      <%= render "form" %>
    </div>
  </div>
</div>
