<button type="button" class="btn btn-info" data-toggle="collapse"
  data-target="#subject_<%= subject.id %>"></button>
  <%= subject.name %><br>
    <div id="subject_<%= subject.id %>" class="collapse">
    <%= render partial: "task", collection: subject.tasks, as: :task %>
</div>
