<div class="snipcart-details">
  <table class="table table-striped">
  <thead>
    <tr><th><%= task.name %></th>
    <th>
      <center>
        <% if get_user_task(params[:id], task.id).blank? %>
          <span class="label label-primary status_task"><%= t".init" %></span>
        <% elsif get_user_task(params[:id], task.id).done? %>
          <span class="label label-danger status_task"><%= t".finished" %></span>
        <% else get_user_task(params[:id], task.id).doing? %>
          <span class="label label-success status_task"><%= t".in_progress" %></span>
        <% end %>
      </center>
    </th>
    </tr>
    </thead>
  </table>
</div>
