<% provide :title,t(".title")  %>
<% provide :button_text, t(".title") %>
<div class="w3_login_module ">
  <div class="module form-module">
    <h1><center><%= t".str" %></center></h1>
    <%= render "form" %>
  </div>
    <div class="module form-module">
      <h1><center><%= t".str" %></center></h1>
      <%= render "form" %>
    </div>
</div>
