<li>
  <%= link_to subject.name, subject %> |
  <%= subject.duration %> |
  <%= link_to t("subjects.index.delete"), subject,
    method: :delete, data: {confirm: t("subjects.index.confirm_delete")} %> |
  <%= link_to t("subjects.index.update"), edit_subject_path(subject) %>
</li>
