<% provide :title, @subject.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="subject_info">
      <h1>
        <%= @subject.name %>
      </h1>
      <p><%= @subject.description %></p>
    </section>
  </aside>
</div>
