<div class="item">
  <ul>
    <li><%= link_to (picture_for user_course.course), user_course.course %></li>
    <li><%= user_course.course_name %></li>
    <li><%= user_course.course_description %></li>
    <li><%= user_course.status %></li>
  </ul>
</div>
