<div class="agile_top_brand_left_grid ">
  <%= picture_for subject %>
  <%= link_to subject.name, [@subject, :subject] %>
  <%= t(".alltime", time: subject.duration) %>
  <div class="agile_top_brand_left_grid1">
    <figure>
    <button type="button" class="btn btn-info" data-toggle="collapse"
      data-target="#view_detail"><% t".view_content" %></button>
    <div id="view_detail" class="collapse">
      <div class="snipcart-item block">
        <%= subject.description %>
      </div>
    </div>
  </figure>
</div>
</div>
