<% provide :title, @course.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="course_info">
      <h1>
        <%= @course.name %>
      </h1>
      <p><%= @course.description %></p>
      <%= link_to t(".view_subjects"), [@course, :subjects] %>
    </section>
  </aside>
</div>
