@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.agileits_header .container {
  padding-left: 0px;
  padding-right: 100px;
}

.w3l_banner_nav_right .container {
  padding: 25px;
}

/* start-stop course */
.container .start-stop-course .btn {
  float:right;
}

.start-stop-course p {
  display: block;
  float:left;
}

.start-stop-course .init p {
  background-color: yellow;
}

.start-stop-course .in_progress p {
  background-color: green;
}

.start-stop-course .finished p {
  background-color: red;
}

.form_user_manager{
  background-color: #d9ffcc;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.img-mini-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.img-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.subject-img-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* user-course-status */
.user-course-status .joined {
  background-color: yellow;
}

.user-course-status .in_progress {
  background-color: green;
}

.user-course-status .finished {
  background-color: red;
}

.agile_top_brand_left_grid li {
  list-style: none;
  padding-bottom: 30px;
}

.agile_top_brand_left_grid .start-date {
  background-color: green;
}

.agile_top_brand_left_grid .end-date {
  background-color: red;
}

.show-subject {
  padding-left: 100px;
}

.subject-border {
  background-color: #f4f6f9;
  border-radius: 15px 15px;
  display: block;
  border: 1px solid #ccc;
}

.subject-border:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start-date {
  float: left;
  background-color: green;
  border-radius: 5px 5px;
  display: block;
  border: 1px solid #ccc;
}

.end-date {
  float: left;
  background-color: red;
  border-radius: 5px 5px;
  display: block;
  border: 1px solid #ccc;
}

.content {
  width: 95%;
  float: right;
}

.item {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  width: 32%;
  background: #fff;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 0px; }

.item img {
  max-width: 100%;
}

.item a {
  color: #000;
}

.item a:hover {
  color: #95d6fa;
}

.item li {
  position: relative;
  background: #fff;
  list-style-type: none;
  text-align: left;
  margin-left: -35px;
}

.item li:nth-child(1) {
  font-weight: bold;
}

.item:nth-child(3n+1) {
  clear: left;
}

/* alert */
@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');
.alert-popup {
  display: none;
  position: fixed;
  z-index: 999999;
  width: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 10px;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #468847;
  color: #468847;
}

.alert-error {
  background-color: #f2dede;
  border-color: #b94a48;
  color: #b94a48;
}

/* add-remove subject */
.add-remove-subject table form .btn {
  float: right;
}

.img-circle {
  border-radius: 50%;
}

.subject-status-init p {
  background-color: green;
  display: inline-block;
}

.subject-status-finished p {
  background-color: red;
  display: inline-block;
}

.finish-subject .btn {
  float: right;
}

.finish-subject p {
  float: right;
}
