  <div class="footer">
    <div class="container">
      <div class="clearfix"> </div>
        <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
          <div class="w3_footer_grid_bottom">
            <h4><%= t ".des" %></h4>
          </div>
        </div>
        <div class="clearfix"> </div>
    </div>
  </div>
